.itemDetail {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
    gap: 30px;

    .itemDetail-describe {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 50px;
    } 
} 

