.navbar- {
    background-color:#3b6479;
    display: flex;
    height: 100px;
    border-bottom: 1px solid #174f6b;;
    box-shadow: 0 0 7px #7ba3ac;
    
    .navbar-content- {
        position: relative;
        width: 90%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        .brand {
            display: flex;
            gap:20px;
            align-items: center;
            img{
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
            p{
                font-size: 40px;
                font-weight: 500;
                font-family: Montserrat, sans-serif;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
        .navbar-items {
            display: flex;
            align-items: center;
            font-size: 20px;
            gap:50px;
            li{
                margin: 0 20px;
                text-decoration: none;
                list-style: none;
            }
            a{
                text-decoration: none;
                color: black;
                font-family: Montserrat, sans-serif;
            }
        }    
        
        #cartwidget {
            display: flex;
            background-color: rgb(59, 100, 121);
            align-items: center;
            img{
                width: 35px;
                height: 35px;
            }
            .cartNumber {
                font-size: 14px;
                background-color: black;
                color: white;
                border-radius: 50%;
                padding: 5px 10px;
                margin-left: 3px;
            }
    
        }
    } 
}

.navbar-sticky-nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#3b6479;
    display: flex;
    height: 100px;
    border-bottom: 1px solid #174f6b;;
    box-shadow: 0 0 7px #7ba3ac;

    .navbar-content-sticky-nav {
        
        width: 90%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        .brand {
            display: flex;
            gap:20px;
            align-items: center;

            img{
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
            p{
                font-size: 40px;
                font-weight: 500;
                font-family: Montserrat, sans-serif;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
        .navbar-items {
            display: flex;
            align-items: center;
            font-size: 20px;
            gap:50px;
            li{
                margin: 0 20px;
                text-decoration: none;
                list-style: none;
            }
            a{
                text-decoration: none;
                color: black;
                font-family: Montserrat, sans-serif;
            }
        }    
            
        #cartwidget {
            display: flex;
            background-color: rgb(59, 100, 121);
            align-items: center;
            img{
                width: 35px;
                height: 35px;
            }
            .cartNumber {
                font-size: 14px;
                background-color: black;
                color: white;
                border-radius: 50%;
                padding: 5px 10px;
                margin-left: 3px;
            }
        
        }
    }
}