@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar- {
  background-color: #3b6479;
  display: flex;
  height: 100px;
  border-bottom: 1px solid #174f6b;
  box-shadow: 0 0 7px #7ba3ac;
}
.navbar- .navbar-content- {
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar- .navbar-content- .brand {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar- .navbar-content- .brand img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.navbar- .navbar-content- .brand p {
  font-size: 40px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar- .navbar-content- .navbar-items {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 50px;
}
.navbar- .navbar-content- .navbar-items li {
  margin: 0 20px;
  text-decoration: none;
  list-style: none;
}
.navbar- .navbar-content- .navbar-items a {
  text-decoration: none;
  color: black;
  font-family: Montserrat, sans-serif;
}
.navbar- .navbar-content- #cartwidget {
  display: flex;
  background-color: rgb(59, 100, 121);
  align-items: center;
}
.navbar- .navbar-content- #cartwidget img {
  width: 35px;
  height: 35px;
}
.navbar- .navbar-content- #cartwidget .cartNumber {
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 3px;
}

.navbar-sticky-nav {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3b6479;
  display: flex;
  height: 100px;
  border-bottom: 1px solid #174f6b;
  box-shadow: 0 0 7px #7ba3ac;
}
.navbar-sticky-nav .navbar-content-sticky-nav {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar-sticky-nav .navbar-content-sticky-nav .brand {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-sticky-nav .navbar-content-sticky-nav .brand img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.navbar-sticky-nav .navbar-content-sticky-nav .brand p {
  font-size: 40px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar-sticky-nav .navbar-content-sticky-nav .navbar-items {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 50px;
}
.navbar-sticky-nav .navbar-content-sticky-nav .navbar-items li {
  margin: 0 20px;
  text-decoration: none;
  list-style: none;
}
.navbar-sticky-nav .navbar-content-sticky-nav .navbar-items a {
  text-decoration: none;
  color: black;
  font-family: Montserrat, sans-serif;
}
.navbar-sticky-nav .navbar-content-sticky-nav #cartwidget {
  display: flex;
  background-color: rgb(59, 100, 121);
  align-items: center;
}
.navbar-sticky-nav .navbar-content-sticky-nav #cartwidget img {
  width: 35px;
  height: 35px;
}
.navbar-sticky-nav .navbar-content-sticky-nav #cartwidget .cartNumber {
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 3px;
}

.itemListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 80px;
}
.itemListContainer h1 {
  margin-bottom: 40px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .product-img {
  width: 180px;
  height: 180px;
  padding: 20px;
}
.card .product-img img {
  width: 100%;
  height: 100%;
}
.card .product-title {
  margin: 5px 0;
  font-weight: bold;
}
.card .product-price {
  margin: 5px 0;
  font-size: 17px;
  font-weight: bold;
}
.card .link-detail {
  width: 100%;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(59, 100, 121);
  padding: 5px 0px;
  border-radius: 3px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .link-detail:hover {
  background-color: rgba(59, 100, 121, 0.5);
  color: black;
}

.itemDetailContainer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 700px;
}
.itemDetailContainer p {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
}

.itemDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  width: 650px;
  height: 400px;
  padding: 40px 30px;
}
.itemDetail img {
  margin: 30px;
}
.itemDetail .itemDetail-describe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.itemDetail .description {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
.itemDetail .title {
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto;
}
.itemDetail .price {
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto 20px;
}
.itemDetail .button-goToCart, .itemDetail .button-goToShop {
  width: 180px;
  margin: 0 60px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.itemDetail .button-goToCart:hover, .itemDetail .button-goToShop:hover {
  background-color: white;
  color: black;
}

.itemCount {
  display: flex;
  flex-direction: column;
}
.itemCount .control-button {
  display: flex;
  margin: 20px auto;
  align-items: center;
}
.itemCount .control-button button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}
.itemCount .control-button p {
  font-size: 20px;
  padding: 0 15px;
}
.itemCount .button-addCart {
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 0 60px;
  width: 180px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
}
.itemCount .button-addCart:hover {
  background-color: white;
  color: black;
}

.cart {
  min-height: 90vh;
  padding: 80px;
}
.cart .cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.cart .cart-list .product-list {
  width: 200px;
  height: auto;
  border: 1px solid black;
  list-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart .cart-list .product-list .img-list {
  width: 70%;
  margin: 0 15%;
}
.cart .cart-list .product-list .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.cart .cart-list .product-list .text-content .title {
  font-size: 15px;
}
.cart .cart-list .product-list .text-content .title, .cart .cart-list .product-list .text-content .price {
  font-weight: bold;
}
.cart .cart-list .product-list .iconDelete {
  margin: 10px auto 0;
  width: 25px;
  height: 25px;
  padding: 3px;
  display: flex;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 5px;
  color: rgb(46, 46, 46);
}
.cart .cart-list .product-list .iconDelete:hover {
  background-color: rgb(210, 0, 0);
  color: white;
  cursor: pointer;
}
.cart .cart-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #3b6479;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  padding: 30px 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart .cart-options .button-delete, .cart .cart-options .button-continue {
  width: 200px;
  margin-top: 20px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgb(59, 100, 121);
  border-radius: 5px;
  text-decoration: none;
  color: rgb(59, 100, 121);
  background-color: #F0F0F0;
}
.cart .cart-options .button-delete p, .cart .cart-options .button-continue p {
  font-weight: bold;
  margin-right: 10px;
}
.cart .cart-options .button-continue:hover {
  background-color: rgba(59, 100, 121, 0.5);
  color: black;
}
.cart .cart-options .button-delete:hover {
  cursor: pointer;
  background-color: rgb(154, 58, 58);
  color: white;
}

.cart-empty {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart-empty .button-empty {
  width: 180px;
  margin: 0 60px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 50px auto;
}
.form-container .form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0 auto;
}
.form-container .form input {
  width: 300px;
  padding: 10px 5px;
  margin: 5px 0 10px;
  border-radius: 5px;
}
.form-container .form label {
  font-size: 20px;
  font-weight: 400;
}
.form-container .form button {
  width: 180px;
  margin: 0 60px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.form-container .form button:hover {
  background-color: white;
  color: black;
}
.form-container .form .button-sendOrder {
  background-color: black;
  color: white;
  margin: 20px 60px 0;
  width: 180px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
}

.order-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  gap: 20px;
}
.order-sent .orederId {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}
.order-sent .orderTks {
  font-size: 20px;
  font-weight: 600;
}
.order-sent .button-goToShop {
  width: 180px;
  margin: 0 60px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.order-sent .button-goToShop:hover {
  background-color: white;
  color: black;
}/*# sourceMappingURL=styles.css.map */